* {
  background-color : black;
  text-align : center;
  font-family : Verdana;
}

h1 {
  font-weight : normal;
  font-size : 50px;
  color : white;
  font-family : Verdana;
}

h2 {
  font-weight : 300;
  font-size : 42px;
  color : white;
  font-family : Verdana;
}

h3 {
  font-size : 21px;
  color : gray;
  font-family : Verdana;
}

h4 {
  font-size : 16px;
  font-family : Verdana;
}

.logo {
  text-align : right;
}

a:link {
  color : Aquamarine;
}
